/*FOOTER INDEX*/

.redes {
    justify-content: center;
    text-align: center;

    .whatsapp {
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 1;

        i {
            font-size: 40px;
            color: white;
        }

    }

    i {
        font-size: 40px;
        color: white;
        text-decoration: none;
        margin: 20px;

        &:hover {
            color: tomato;
        }
    }
}

/*----------FIN FOOTER INDEX----------*/