/* SERVICIO */
.bodyServicio {
    background-color: #F0F8FF;

    .tituloServicio {
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 20px;

    }

    .card {
        margin: 20px;
    }
}

/*----------FIN SERVICIO----------*/